.footer {
  background: linear-gradient(180deg, #0C0C0C 0%, #202229 100%);
  position: relative;
  bottom: 0;
  //margin-top: 4rem;
  @media only screen and (max-width: 768px){
    width: 100%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #f3f4ff;
    clip-path: polygon(100% 0, 100% 0, -100% 100%, 0 -100%);
    z-index: 1;
  }

  @media only screen and (max-width: 768px) {
    margin-top: 0;
  }

  .contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
    position: relative;
    padding-bottom: 2rem;
    @media only screen and (max-width: 768px){
      width: 100%;
    }

    img {
      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .btn-text {
      top: 200px;
      right: 470px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      @media only screen and (max-width: 768px) {
        top: 100px;
        right: 0;
        left: 0;
        justify-content: center;
      }

      h1 {
        width: 683px;
        height: 128px;
        font-size: 54px;
        font-weight: 600;
        line-height: 64px;
        text-align: center;
        color: #ffff;
        @media only screen and (max-width: 768px){
          min-width: 100%;
          height: auto;
          font-size: 32px;
          line-height: 40px;
        }
      }

      .btnArrowDown {
        width: 73.73px;
        height: 73.73px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 23.91px 0 24.91px;
        border: none;
        border-radius: 29.89px;
        background: #202229;
        margin-top: 20px;
        cursor: pointer;
        @media only screen and (max-width: 768px){
          width: 50px;
          height: 50px;
          padding: 0 16px 0 16px;
        }

        &:hover {
          background: #203229;
        }
      }
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      .btn-text {
        position: absolute;
        text-align: center;
        width: 100%;

        h1 {
          width: 100%;
          font-size: 32px;
          line-height: 40px;
        }

        .btnArrowDown {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .footerInfo {
    width: 100%;
    padding: 1rem;
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;

    .footer-left {
      flex: 2;
      padding-left: 1.7rem;

      .icons-container {
        display: flex;
        align-items: center;
        padding: 1rem;
        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }

      .text1 {
        width: 284px;
        height: 66px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: rgba(255, 255, 255, 0.8);
        margin-top: 2.4rem;
      }

      .text2 {
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: #7f8081;
        margin-top: 3rem;
      }

      .btn-container {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 768px) {
          display: flex;
          flex-wrap: nowrap;
        }

        button {
          border: none;
          color: #ffff;
          width: 162.16px;
          margin-right: 1.5rem;
          margin-top: 2rem;
          height: 50px;
          padding: 0 50.16px 0 51px;
          border-radius: 20.27px;
          background: rgba(41, 43, 52, 1);
          font-size: 0.82em;
        }
      }
    }

    .footer-right {
      flex: 4;

      h1 {
        width: 100%;
        height: auto;
        color: #ffff;
        font-size: 54px;
        font-weight: 600;
        line-height: 64px;
        text-align: left;
        @media only screen and (max-width: 768px) {
          font-size: 2em !important;
          font-weight: 500;
          line-height: 35px !important;
          margin-top: 3rem;
        }
      }

      .grid-footer {
        margin-top: 6rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        .footer-grid-content {
          font-size: 14px;
          font-weight: 600;
          line-height: 32px;
          text-align: left;
          color: #57585b;
        }

        .footer-grid-content2 {
          font-size: 18px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: #ffff;
          cursor: pointer;

          &:hover {
          }
        }

        @media only screen and (max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 768px) {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .footer-last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;

    .allright {
      font-size: 16px;
      font-weight: 500;
      line-height: 31.25px;
      text-align: left;
      color: #ffff;
    }

    .ankle-tags {
      display: flex;
      align-items: center;
      opacity: 60%;

      a {
        margin-right: 1.3rem;
        font-size: 16px;
        font-weight: 500;
        line-height: 31.25px;
        text-align: left;
        color: #ffff;
      }
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;

      .allright, .ankle-tags a {
        font-size: 14px;
        line-height: 20px;
      }

      .ankle-tags {
        margin-top: 1rem;
      }
    }
  }

  .horizontal-line {
    margin-top: 9rem;
    opacity: 10%;
    border: 1px solid #ffff;
  }

  @media only screen and (max-width: 768px) {
    padding: 1rem;

    .separator-slope {
      height: 44px;
    }

    .footerInfo {
      margin-top: 4rem;

      .footer-left, .footer-right {
        width: 100%;
        flex: 1;
        padding-left: 0;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .contact-us .btn-text h1 {
      font-size: 24px;
      line-height: 30px;
    }

    .contact-us .btn-text .btnArrowDown {
      width: 40px;
      height: 40px;
    }

    .footerInfo {
      .footer-left .text1, .footer-left .text2, .footer-right h1, .footer-right .grid-footer .footer-grid-content, .footer-right .grid-footer .footer-grid-content2 {
        font-size: 17px;
        line-height: 18px;
      }
    }

    .footer-last {
      padding-left: 2rem;
      padding-right: 2rem;

      .allright, .ankle-tags a {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .horizontal-line {
      margin-top: 4rem;
    }
  }
}
