.section-three {
  width: 100%;
  background: #202229;
  display: flex;
  padding-bottom: 14rem;
  position: relative;
  @media only screen and (max-width: 576px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    margin-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #EDEFFF;
    clip-path: polygon(100% 0, 100% 0, -100% 100%, 0 -100%);
    @media only screen and (max-width: 576px) {
      height: 70px;
    }
  }

  .quoteIcon {
    position: absolute;
    right: 0;
    top: 7px;
    transform: rotate(-3deg);
    @media only screen and (max-width: 576px) {
      max-width: 100px;
      display: flex;
      flex-direction: column;
      transform: rotate(0deg);
      overflow-x: hidden;
      top: 1rem;
    }
  }


  .left {
    flex: 2;
    margin-top: 7rem;
    padding: 4em 0 0 4em;
    @media only screen and (max-width: 576px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    h1 {
      width: 379px;
      height: 192px;
      color: #fff;
      font-size: 2.9em;
      font-weight: 700;
      @media only screen and (max-width: 576px) {
        width: 100%;
        height: auto;
        font-size: 2.4em;
        padding: 0.8rem;
      }
    }

    p {
      padding-top: 1.5rem;
      width: 461px;
      color: #ffff;
      font-size: 1.3em;
      font-weight: 500;
      opacity: 70%;
      @media only screen and (max-width: 576px) {
        width: 100%;
        padding: 0.8rem;
        text-align: center;
      }
    }

    .btnContainer {
      display: flex;
      align-items: center;
      margin-top: 3rem;
      @media only screen and (max-width: 576px) {
        width: 100%;
        justify-content: center;
      }

      .btnArrow {
        width: 50px;
        height: 50px;
        padding: 0 16.15px 0 16.82px;
        margin-right: 20px;
        border-radius: 20.19px;
        border: none;
        outline: none;
        @media only screen and (max-width: 576px) {
          width: 100%;
          border-radius: 14px;
          margin: 0 10px 0 10px;
        }
      }
    }
  }

  .right {
    margin-top: 14rem;
    flex: 2;
    @media only screen and (max-width: 576px) {
      width: 100%;
      flex: 0;
      margin-top: 5rem;
    }

    .right-content {
      display: flex;
      align-items: center;
      @media only screen and (max-width: 576px) {
        width: 100%;
      }

      .header-right {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #AF7CFF;
        width: 99px;
        height: 99px;
        border-radius: 40%;
        margin-right: 16px;
        @media only screen and (max-width: 576px) {
          width: 100%;
          min-height: auto;
          border-radius: 50%;

        }
      }

      .subHeader-right {
        @media only screen and (max-width: 576px) {
          width: 100%;
        }

        h2 {
          color: #fff;
          font-size: 2.45em;
          font-weight: 400;
          @media only screen and (max-width: 576px) {
            width: 100%;
          }
        }

        p {
          color: #fff;
          font-size: 0.9em;
          font-weight: 500;
          opacity: 40%;
          margin-top: 4px;
          line-height: 19px;
          text-align: left;
          @media only screen and (max-width: 576px) {
            width: 100%;
          }
        }
      }
    }

    p {
      width: 499px;
      color: #fff;
      opacity: 70%;
      margin-top: 2rem;
      line-height: 28px;
      text-align: left;
      font-size: 1.3em;
      font-weight: 500;
      @media only screen and (max-width: 576px) {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.6rem;
      }
    }
  }
}