.navbar {
  width: 1300px;
  height: 60px;
  margin-top: 24px;
  border-radius: 15px;
  background: #525AA0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.075);

  .sidebar{
    display: none;
  }

  @media only screen and (max-width: 768px){
    .sidebar {
      position: absolute;
      transform: translateX(-120%);
      transition: transform 0.5s ease;
      display: flex;
      flex-direction: column;

      .navLinks{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin-bottom: 1rem;
        a{
          width: 100%;
          border: 1px solid #8BA4FD;
          display: inline-block;
          padding: 13px;
          margin-bottom: 10px;
          text-align: center;
          border-radius: 25px;
        }
      }

      .navLoginLink{
        display: flex;
        padding: 1rem;
        justify-content: space-evenly;

        .login{
          border: 1px solid #8BA4FD;
          padding: 11px 19px;
          border-radius: 16px;
        }
      }
    }

    .visible {
      min-width: 60%;
      background: #525AA0;
      flex: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: auto;
      display: flex;
      transform: translateX(0);
      z-index: 3;
    }
  }



  .menuIcon {
    display: none;
  }

  .navLogo {
    img {
      margin: 3px;
    }

  }

  .navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-weight: 300;
      padding: 0 20px;

    }

    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .navLoginLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      padding: 0 20px;

    }

    a:hover {
      color: #fff;
      text-decoration: none;
    }

    .join {
      background-color: #ffff;
      color: black;
      padding: 11px 19px;
      border-radius: 16px;

      &:hover {
        color: #525AA0;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    height: 55px;
    border-radius: 0;
    margin-top: 0;
    position: relative;


    .menuIcon {
      display: block;

      img {
        width: 36px;
        height: 36px;
      }
    }

    .navLinks, .navLoginLink {
      display: none;
    }
  }
}